name: Build antrea/lichen Docker image

on:
  pull_request:
    branches:
      - main
    paths:
      - 'images/lichen/**'
      - '.github/workflows/docker_build_lichen.yml'
  push:
    branches:
      - main
    paths:
      - 'images/lichen/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check-out code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build Docker image
      uses: docker/build-push-action@v5
      with:
        context: images/lichen
        platforms: linux/amd64 # no need for other platforms
        push: false
        tags: antrea/lichen:latest
        no-cache: true
